<!-- <nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/add-sprint">Create Sprint</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/add-meetings">Meetings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/reschedule-meeting">Alter Meetings</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand ">
  <div class="container-fluid">
    <a class="navbar-brand">PROJECT MANAGEMENT</a>
    <ul class="nav nav-pills">
  <li class="nav-item" ><a class="nav-link active" routerLink="/add-sprint" > Create Sprint    </a></li>
  <li class="nav-item"><a class="nav-link active" routerLink="/add-meetings" >  Meetings  </a></li>
  <li class="nav-item"><a class="nav-link active" routerLink="/reschedule-meeting">Alter Meetings</a></li>
  
  </ul>
  </div>
  <app-login-status></app-login-status> 
   
 
</nav>

<router-outlet></router-outlet>
