<div class="my-5">

<div class="mx-auto w-25" style="max-width: 100%;">
  <div style="margin-left: 20%;">
<input class="text-center mb-3 rounded-pill border border-dark " type="text"  style="margin-right: 10px;" [(ngModel)]="id" placeholder="Search Meeting By Id" (input)="onSearchId()">

<button type="submit" class="btn btn-primary"
 (click)="onPresss()"
 style="--bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .25rem;
   --bs-btn-font-size: .75rem;"> Search</button>
</div>
<form [formGroup]="meetingForm" class="form" (ngSubmit)="onSubmit(meetingForm.value)">
  <div class="card">
    <div class="form-group mb-3">
      <div class="col-md-12">
      <label>*Meeting Link:</label>
      <input type="text" class="form-control" formControlName="meetingLink" class="form-control" required>
      
    </div>
    </div>
    <div class="form-group mb-3">
      <div class="col-md-12">
        <label>*Meeting Date:</label>
        <input type="datetime-local" class="form-control" formControlName="meetingDate">
      </div> 
    </div>
      <div class="form-group mb-3">
        <div class="col-md-12">
        <label>*Meeting Time:</label>
        <input type="time" class="form-control" formControlName="meetingTime">
      </div> 
      </div>
      <!-- <div class="form-group mb-3">
        <div class="col-md-12">
        <label>*Meeting Type:</label>
        <input type="text" class="form-control" formControlName="meetingType" >
        </div>
        </div> -->
        <div class="form-group mb-3">
          <div class="col-md-12">
          <label>*Meeting Type:</label>
          <select type="text" class="form-control"  formControlName="meetingType">
            <option value="SprintReview">SprintReview</option>
            <option value="SprintPlanning">SprintPlanning</option>
            <option value="DailyScrum">DailyScrum</option>
            <option value="SprintRetrospective">SprintRetrospective</option>
          </select>
          </div>
          </div>
    <button type="submit" class="btn btn-success" >Update</button>
  </div>
  </form>
</div>
<!-- <div class="row">
  <div class="col-md-12 form-group mb-3">
   <label>*Meeting Type</label>
  <select type="text" class="form-control" ngModel name="meetingType" #meetingtype="ngModel">
  <option value="SprintReview">SprintReview</option>
  <option value="SprintPlanning">SprintPlanning</option>
  <option value="DailyScrum">DailyScrum</option>
  <option value="SprintRetrospective">SprintRetrospective</option>
   </select>
   </div>
   </div> -->